@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
h1 {
  text-align: center;
  margin-top: 25px;
  color: #280d5f;
  font-size: 25px;
  font-family: "Rubik Bubbles", cursive;
}
p {
  text-align: center;
  color: #826eaa;
}
